BOT_TOKEN=
LENA_CHAT_ID=6336708488
GAS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyOs9GPu_hi6GSFCxlVmezgvrO2B8sM1U3SNQ0oTyRuzcPIgDsVo9ydd3Xh234BEj7ECg/exec
MINI_APP_URL=https://ппфея.рф
TELEGRAM_API_BASE=https://restless-morning-ac62.papa3313.workers.dev/bot
WEBHOOK_SECRET=
TELEGRAM_PROXY_SECRET=
PYTHONUNBUFFERED=1
